@model dynamic
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <ul class="nav  navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li>@Html.ActionLink("Products", "List", "Product");</li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>

    <h1>@ViewBag.Title</h1>

        @Html.ActionLink("Get Started", "List", "Product", null, new {@class = "btn btn-large btn-success"})


@*    <div class="hero-unit">
        <h1>
            Marketing stuff!</h1>
        <p>
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus
            ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
            amet risus.</p>
    </div>*@
    <div class="row">
        <div class="col-lg-4">
            <p>
                Dummy Text1</p>
        </div>
        <div class="col-lg-4">
            <p>
                Dummy Text2</p>
        </div>
        <div class="col-lg-4">
            <p>
                Dummy Text3</p>
        </div>
    </div>
</div>
