@model dynamic
@{
    ViewBag.Title = "Home";
    ViewBag.Active = "Home";
}
<div class="container">
    
    @Html.ActionLink("Get Started", "List", "Product", null, new {@class = "btn btn-large btn-success"})


    <div class="row">
        <div class="col-lg-4">
            <p>
                Dummy Text1</p>
        </div>
        <div class="col-lg-4">
            <p>
                Dummy Text2</p>
        </div>
        <div class="col-lg-4">
            <p>
                Dummy Text3</p>
        </div>
    </div>
</div>
