@model dynamic

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table>
    <th>
        <td>
            Product Code
        </td>
        <td>
            Set?
        </td>
    </th>
    <tr>
        <td>
            Product 1
        </td>
        <td>
            true
        </td>
    </tr>
<   <tr>
        <td>
            Product 2
        </td>
        <td>
            false
        </td>
    </tr>
   <tr>
        <td>
            Product 3
        </td>
        <td>
            true
        </td>
    </tr>
</table>



@*@using (Html.BeginForm())
{
    <fieldset>
        <legend>Product Data</legend>
                
    </fieldset>
    
}*@