@model List<InventoryDomain.Models.ListableProduct>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table id="productsTable">
    <thead>
        <tr>
            <th>
                Product Code
            </th>
            <th>
                Price
            </th>
            <th>
                Stock
            </th>
        </tr>
    </thead>
    <tbody>
        
    @foreach (var product in Model)
    {
        <tr>
            <td>
                @product.Sku
            </td>
            <td>
                @product.Price
            </td>
            <td>
                @product.StockCount
            </td>
        </tr>
    }
    </tbody>
</table>



@*@using (Html.BeginForm())
{
    <fieldset>
        <legend>Product Data</legend>
                
    </fieldset>
    
}*@