@model List<InventoryDomain.Models.ListableProduct>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table>
    <th>
        <td>
            Product Code
        </td>
        <td>
            Price
        </td>
        <td>
            Stock
        </td>
    </th>
    @foreach (var product in Model)
    {
    <tr>
        <td>
            @product.Sku        
        </td>
        <td>
            @product.Price
        </td>
        <td>
            @product.StockCount      
        </td>
    </tr>
    }
</table>



@*@using (Html.BeginForm())
{
    <fieldset>
        <legend>Product Data</legend>
                
    </fieldset>
    
}*@